

.page {
	width: 70vw;
	margin: 0 auto;
	background: white;
}

.page img {
	width: 100%;
}


body {
	background-image: url("../images/pattern1.png");
	font-family: "Times New Roman", serif;
	font-size: 14px;
	color: black;
}

header, footer {
	background: #E6615E;
}

header {
	padding: 2%;
}

footer {
/*	position: absolute;*/
	bottom: 0
	width: 100%;
	padding: 2% 2% 4%;
	color: white;
	text-align: right;
}

h1 {
	font-family: arial, helvetica, sans-serif;
	font-size 50px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

h2 {
	font-family: cursive, helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
}

div.text-block {
	margin: 2%;
}

div.text-block h2 {
	text-decoration: underline
}

div.text-block img {
	width: 22%;
	padding: 0.5%;
	border: 3px solid #B6B6B6;
}












